<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="Debug" />
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <appender name="RollingFileAppenderFix" type="log4net.Appender.RollingFileAppender">
      <threshold value="Debug" />
      <file value="log_fix.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <appender name="RollingFileAppenderFixOrders" type="log4net.Appender.RollingFileAppender">
      <threshold value="Debug" />
      <file value="log_fix_orders.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <appender name="FileAppenderTrace" type="log4net.Appender.FileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="log_trace.txt" />
      <appendToFile value="true" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <logger name="General">
      <level value="ALL" />
      <appender-ref ref="TextBoxAppender" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="RollingFileAppenderFix" />
      <appender-ref ref="FileAppenderTrace" />
    </logger>

    <logger name="FIX">
      <level value="ALL" />
      <appender-ref ref="TextBoxAppender" />
      <appender-ref ref="RollingFileAppenderFix" />
      <appender-ref ref="FileAppenderTrace" />
    </logger>

    <logger name="FIX orders">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppenderFixOrders" />
      <appender-ref ref="RollingFileAppenderFix" />
    </logger>

  </log4net>
</configuration>