<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DisableGuiLogger" value="false" />
    <add key="Connector.MarketDepth" value="1" />
    <add key="MarketDataManager.AsynchronousInvocation" value="false" />

    <add key="Mt4ApiLoginIdWebServerUrl" value="http://localhost:9900/loginid" />
    <add key="CTraderRedirectBaseUrl" value="http://10.234.147.102:61234/api/redirect" />
    <add key="CTraderPlatformsPath" value="C:\inetpub\wwwroot\TradeSystem.CTraderAccess\Config\cTraderPlatforms.xml" />
    <add key="OpenExchangeRatesAppId" value="5596a659201d44aca215c4fe4eea43e8" />
    <add key="ForexFactoryUrl" value="" />
    <add key="AllowDatabaseMigration" value="false" />
    <add key="PrepareAssemblies" value="true" />
    <add key="LogLevelColoring" value="true" />

    <add key="EmailService.IsEnabled" value="false" />
    <add key="EmailService.TestMailOnStart" value="false" />
    <add key="EmailService.Host" value="smtp.sendgrid.net" />
    <add key="EmailService.User" value="apikey" />
    <add key="EmailService.Password" value="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" />
    <add key="EmailService.From" value="peter@qvadev.com" />
    <add key="EmailService.To" value="p.bobvos@gmail.com" />
    <add key="EmailService.RolloverMinutes" value="1" />

	<add key="TwilioService.AccountSid" value="AccountSid" />
    <add key="TwilioService.AuthToken" value="AuthToken" />
    <add key="TwilioService.TwilioPhoneNumber" value="TwilioPhoneNumber" />
    <add key="TwilioService.Message" value="Message" />
    <add key="TwilioService.CoolDownTimerInMin" value="CoolDownTimerInMin" />

    <add key="TelegramService.Token" value="Token" />
    <add key="TelegramService.Message" value="Message" />
	<add key="TelegramService.CoolDownTimerInMin" value="CoolDownTimerInMin" />

	<add key="ConfigurationFlags.Alert" value="Alert" />
	  
    <add key="ConnectorAssemblies" value="          TradeSystem.Communication.FixApi.Connectors.dll;          TradeSystem.Communication.DtcApi.dll;          TradeSystem.Communication.SnwApi.dll;          TradeSystem.Communication.Mt5.dll;          TradeSystem.Communication.FastFeed.dll;          TradeSystem.Communication.Bitmex.dll;          TradeSystem.Communication.Binance.dll;          TradeSystem.Communication.Ftx.dll;          TradeSystem.Communication.Houbi.dll          " />
    <add key="ExtensionAssemblies" value="          TradeSystem.Communication.ConnectorTester.DtcExtensions.dll;          TradeSystem.Communication.ConnectorTester.FixExtensions.dll;          TradeSystem.Communication.ConnectorTester.SnwExtensions.dll;          TradeSystem.Communication.ConnectorTester.Mt5Extensions.dll          " />
 
    <add key="terminal_host" value="127.0.0.1" />
    <add key="terminal_port" value="7788" />
    <add key="nj4x_activation_key" value="155857916" />
    <add key="nj4x_mt5_activation_key" value="325261026" />
  </appSettings>
  <connectionStrings>
    <add name="DuplicatContext" connectionString="" providerName="filecontext" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="KGySoft.CoreLibraries" publicKeyToken="b45eba277439ddfe" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="KGySoft.Drawing" publicKeyToken="b45eba277439ddfe" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.3.1.0" newVersion="106.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
