<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Connector.MarketDepth" value="1" />

    <add key="Mt4ApiLoginIdWebServerUrl" value="http://localhost:9900/loginid" />
    <add key="CTraderRedirectBaseUrl" value="http://10.234.147.102:61234/api/redirect" />
    <add key="CTraderPlatformsPath" value="C:\inetpub\wwwroot\TradeSystem.CTraderAccess\Config\cTraderPlatforms.xml" />
    <add key="OpenExchangeRatesAppId" value="5596a659201d44aca215c4fe4eea43e8" />
    <add key="AllowDatabaseMigration" value="false" />
    <add key="ConnectorAssemblies" value="TradeSystem.Communication.FixApi.Connectors.dll;TradeSystem.Communication.DtcApi.dll;TradeSystem.Communication.SnwApi.dll"/>
    <add key="PrepareAssemblies" value="true" />
    <add key="ShowCellToolTips" value="true" />
    <add key="LogLevelColoring" value="true" />

    <add key="EmailService.IsEnabled" value="false" />
    <add key="EmailService.TestMailOnStart" value="false" />
    <add key="EmailService.Host" value="smtp.sendgrid.net" />
    <add key="EmailService.User" value="apikey" />
    <add key="EmailService.Password" value="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" />
    <add key="EmailService.From" value="peter@qvadev.com" />
    <add key="EmailService.To" value="p.bobvos@gmail.com" />
    <add key="EmailService.RolloverMinutes" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="DuplicatContext" connectionString="" providerName="filecontext" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>