<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net48" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net48" />
  <package id="RestSharp" version="106.6.10" targetFramework="net472" />
</packages>